:root {
    --theme-color: #f1eeef;
    --primary-color: #124f88;
    --secundary-color: #d2d2d2;
    --text-color-invese: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-bobile-backgraund-color: #878a98;
}

html {
    scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 80px;   
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.horizontal-padding{
  padding-left: 25px;
  padding-right: 25px;
}
 
.vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 950px) {
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
      }
       
      .vertical-padding {
          padding-top: 70px;
          padding-bottom: 70px;
      }
}